@use "mixins" as *;
@use "vars" as *;
@use "extends" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main-img {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  object-fit: cover;
}

.article {
  color: #bbb;
  @extend %container;

  .intro {
    height: 30px;
    background: #fff;
    padding: 40px 70px;
    position: relative;
    top: -100px;
    border-radius: 10px;

    .author__img {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      object-fit: cover;
      position: relative;
      top: 10px;
      margin-right: 5px;
    }

    h1 {
      font-size: 36px;
      color: #000;
    }

    .author {
      display: inline-block;
      margin-right: 50px;
      margin-top: 10px;

      b {
        font-weight: 600;
      }
    }
    .time {
      display: inline-block;

      i {
        font-size: 23px;
        margin-right: 5px;
        position: relative;
        top: 3px;
      }
    }
  }

  .share {
    margin-top: 30px;

    > div {
      display: inline-block;
    }

    > div:first-of-type {
      margin-right: 10px;
    }

    .social {
      @extend %social-block;
    }
  }

  .nav {
    @extend %flexDisplay;
    align-items: center;
    margin-top: 50px;

    > div {
      @extend %flexDisplay;
      align-items: center;
    }
    img {
      margin-right: 20px;
      position: relative;
      top: 2px;
      transition: 600ms ease;
      cursor: pointer;

      &:hover {
        transform: translateX(-5px);
      }
    }
    .prev-post {
      a {
        color: $mainColor;
        transition: color 600ms ease;

        &:hover {
          color: $hrefColor;
        }
      }
    }
    .next-post {
      img {
        margin-left: 20px;
        position: relative;
        top: 2px;
        transition: 600ms ease;
        cursor: pointer;
        &:hover {
          transform: translateX(5px);
        }
      }
    }
  }

  .comments {
    margin-top: 80px;
    h3 {
      @extend %heading-with-line;
      font-size: 18px;
      font-weight: 600;

      &::before {
        bottom: -4px;
        height: 2px;
      }
    }
    .comment {
      margin-top: 30px;
      display: flex;
      p {
        margin-top: 10px;
      }
    }
    img {
      width: 40px;
      height: 40px;
      line-height: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 20px;
      position: relative;
      top: 5px;
    }
    .man-info {
      margin-bottom: 10px;

      .name {
        color: #000;
        font-weight: 600;
        font-size: 18px;
        margin-right: 20px;
      }
      .time {
        font-size: 14px;

        &::after {
          content: "|";
          margin: 0 10px;
        }
      }
      .reply {
        color: $mainColor;
        cursor: pointer;
      }
    }
  }

  .comment-form {
    margin-top: 50px;

    h3 {
      @extend %heading-with-line;
      font-weight: 700;
      font-size: 16px;

      &::before {
        bottom: -4px;
        height: 2px;
      }
    }

    form {
      margin-top: 30px;
      margin-bottom: 150px;

      input,
      textarea {
        border: 0;
        background: $img-holder-bg;
        padding: 15px 2%;
        width: 45%;
        margin-bottom: 20px;
        font-size: 14px;
      }

      input {
        &:last-of-type {
          margin-left: 1.5%;
        }
      }
      textarea {
        width: 96%;
        resize: none;
        height: 200px;
      }
    }
    button {
      width: 190px;
      height: 52px;
      float: right;
      background: $mainColor;
      border: 0;
      color: #fff;
      font-size: 16px;
      border-radius: 3px;
      text-transform: uppercase;
      cursor: pointer;
      transition: background 600ms;

      &:hover {
        background: #333;
      }
    }
  }
}
