@use "mixins" as *;
@use "vars" as *;
@use "extends" as *;

.contacts {
  @extend %container;
  @extend %flexDisplay;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #bbb;

  > div:first-of-type {
    width: 500px;
  }

  h1 {
    @extend %heading-with-line;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .info {
    margin: 30px 0;
  }
  .contact {
    display: flex;
    margin-bottom: 35px;

    .icon {
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background: #f5f6f6;
      color: $mainColor;
      border-radius: 50%;
      margin-right: 15px;
      margin-top: 5px;
    }
  }
  h3 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  form {
    width: 350px;
    background: #f5f6f6;
    padding: 40px 45px;
    float: left;

    label {
      color: #000;
      font-size: 14px;
    }

    .error,
    .hint {
      float: right;
      font-size: 14px;
    }
    .error {
      color: #e31e24;

      //   errors will appear with wrong fields filling
      display: none;
    }

    input,
    textarea {
      display: block;
      padding: 10px 5%;
      width: 90%;
      margin-top: 15px;
      margin-bottom: 20px;
      border: 0;
      background: #fff;
      font-size: 16px;
    }
    textarea {
      resize: none;
      height: 100px;
    }
    button {
      float: right;
      background: $mainColor;
      border: 0;
      width: 137px;
      height: 52px;
      color: #fff;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 3px;
      cursor: pointer;
      transition: background 600ms;

      &:hover {
        background: #333;
      }
    }
  }
}
