// common rules and main index.html

@use "mixins" as *;
@use "vars" as *;
@use "extends" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// ------------- COMMON ----------------
* {
  margin: 0;
  padding: 0;
  outline: none;
}
html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  color: $textColor;
}
a {
  text-decoration: none;
  color: $hrefColor;
  transition: color 600ms ease;

  &:hover {
    color: $hrefColorHover;
  }
}

// ------------- HEADER ----------------

header {
  @extend %container;
  @extend %flexDisplay;

  align-items: center;
  padding-top: 50px;

  .logo {
    font-size: 48px;
    font-weight: 200;
    color: #454545;
  }
  ul li {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 25px;
    }
    .active {
      &::after {
        content: "";
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: $mainColor;
        display: inline-block;
        position: relative;
        top: 12px;
        right: 50%;
      }
    }
    .fa-magnifying-glass {
      cursor: pointer;
      color: $hrefColor;
      transition: color 600ms ease;

      &:hover {
        color: $hrefColorHover;
      }
    }
  }
}

// ------------- MAIN ----------------

.main {
  @extend %container;
  margin-top: 50px;

  h2 {
    @extend %heading-with-line;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .intro-text {
    margin-top: 30px;
    font-weight: 300;
  }
  .articles {
    @extend %flexDisplay;
    flex-wrap: wrap;

    > div {
      width: 32%;
      margin-top: 50px;
      color: #000;

      .image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 600ms;

        &:hover {
          opacity: 1;
        }

        &.big-size {
          height: 500px;
        }
        &.medium-size {
          height: 400px;
        }
      }

      .tag {
        margin-top: 40px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
      }
      h3 {
        font-size: 24px;
        margin-top: 5px;
      }
      p {
        color: $textColor;
        margin-top: 10px;
      }
      .bottom {
        width: 90%;
        @extend %flexDisplay;
        margin-bottom: 40px;
        margin-top: 10px;
        color: $textColor;
        font-size: 14px;

        .fa-user {
          margin-right: 5px;
        }
        .fa-clock {
          margin-right: 5px;
        }
      }
    }
  }
  .load-more {
    width: 190px;
    height: 52px;
    margin: 50px auto;
    display: block;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    background: #eee;
    font-weight: bold;
    font-size: 16px;
    transition: background 600ms ease;
    cursor: pointer;

    &:hover {
      background: #bbb;
    }
  }
}

footer {
  @extend %container;
  margin-top: 60px;
  padding-top: 50px;
  border-top: 1px solid #f6f6f6;
  .flex-blocks {
    @extend %flexDisplay;
    > div {
      width: 26%;

      h3 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #000;
      }
      .social {
        margin-top: 20px;

        @extend %social-block;
      }

      .links {
        li {
          display: block;

          &:not(:first-of-type) {
            margin-top: 10px;
          }

          a {
            color: $textColor;
            transition: color 600ms ease;

            &:hover {
              color: $mainColor;
              border-bottom: 1px solid $mainColor;
            }
          }
        }
      }

      .email-link {
        color: $mainColor;
        border-bottom: 1px solid $mainColor;
        transition:
          border-bottom,
          color 600ms;

        &:hover {
          color: #333;
          border-bottom: 1px solid #333;
        }
      }
    }
  }
}

.text-bottom {
  text-align: center;
  margin-top: 70px;
  border-top: 1px solid #f6f6f6;
  padding: 30px 0;
}
